.contanerMain{display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 3% 5% 0 5%;
   align-items: center;  
   height: 25em;}
.leftInfo{width: 50%;
   margin-right: 2%;
   line-height: 1.5em;}
.buttonNewProduct {height: 50px; 
    width: 230px;
    background-color: rgba(253, 223, 65, 1);
    border: none;
   border-radius: 10px 10px 10px 10px ; 
   cursor: pointer; }
.buttonNewProduct a{text-decoration: none; 
    color: black;
    font-size: 18px;}
.rightInfo{ display: flex; 
    flex-direction: row;
   margin-top: 5%;}
.maskAndSerym{display: flex; 
    flex-direction: column; 
    margin-left: 50px;}
.contForImg{position: relative;}
.contForImg:hover .arrowForImage{display: block;
  cursor: pointer;
  border-radius: 100%;
  animation: glowing 1300ms infinite;}
  @keyframes glowing {
    0% { border-color: #ee8c6b; box-shadow: 0 0 45px #FFEF26; }
    50% { border-color: #e3744f; box-shadow: 0 0 70px #FFEF26; }
    100% { border-color: #E95F32; box-shadow: 0 0 45px #FFEF26; }
    }
.contForImg:hover::after { 
    content: attr(data-title);
    position: absolute; 
    left: 20%; top: 3%; 
    z-index: 1; 
    background: rgba(255,255,230,0.9); 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333; 
}
.arrowForImage{position:absolute;right:3px; bottom:20px;
     display:none}
.buttFon{background-color: transparent;border: none;}
.imgFon{width: 100%;}

@media all and (max-width: 60em){
.contanerMain{flex-direction: column;
  height: 100%;}
.leftInfo{line-height: 2em;
  width: 70%;}
.rightInfo{ width: 80%;
   margin-top: 10%;
   justify-content: space-evenly;
  margin-left: -10%;}
.contForImg{width: 100%; }
.firstFon{width: 40%;}
.maskAndSerym{margin-left: 0px;}
}

@media all and (max-width: 40em){
    .buttonNewProduct{height: 30px; 
        width: 180px;} 
    .buttonNewProduct a{font-size: 15px;}
    .rightInfo{ width: 90%; margin-left: -5%;}
    .firstFon{width: 50%; margin-right: 5%; }
    .contForImg{font-size: 15px;}
    .leftInfo{width: 90%;}
}div.MobileClient
{
  padding: 2px 0;
}

span.MobileClientBalance
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

span.MobileClientFIO
{
  margin-right: 30px;
}
.MobileCompany
{
  border: double gray 3px;
  width: 180px;
  padding: 3px 7px;
  background-color: lightyellow;
}

.MobileCompanyName
{
  font-weight: bold;
}

.MobileCompanyClients
{
  padding-top: 5px;
}
.divPageLinks{position: absolute; right: 8%; top: 20px;}
.divPageLinks a:not(:last-child){margin-right: 40px;}
.PageLink {
    color: black;
    text-decoration: none;
}
.ActivePageLink {
    font-weight: bolder;
    border-bottom: solid rgba(253, 223, 65, 1) 2px;
    padding-bottom: 5px;
}

.logo{position: absolute; left: 8%; top: 10px;}

@media all and (max-width: 60em){
    .divPageLinks a:not(:last-child){margin-right: 15px;} 
}
@media all and (max-width: 40em){
    .divPageLinks a{font-size: 14px;}
    .divPageLinks a:not(:last-child){margin-right: 13px;} 
    .logo{width: 40px; 
        height: 40px;
        top: 20px;}
}
/*# sourceMappingURL=bundle.css.map*/