.contForItem{
  display: flex;
  flex-direction: row;
  margin: 3% 10% 3% 40%;
  border-bottom: solid 1px rgb(159, 158, 158);
  width: 40em;
  align-items: center;
  padding: 10px;
}
.contForItem img{
    width: 8em;
    height: 8em;
}
.nameProd{
  flex:1 1 auto; 
 margin: 0 3% 0 3%;
}
.priceP{
  flex:1 1 auto; 
  font-size: 13px;
  color: rgb(183, 155, 16);
}
.buttForDel{
  background-color: rgba(247, 247, 136, 0.7);
  border: solid rgb(247, 247, 136) 1px;
  padding: 10px;
  border-radius: 5px;
}
.buttForDel:hover{
  cursor: pointer;
    background-color: rgb(250, 250, 96);
}
.counter{display: flex;
  flex-direction: row;
  margin-right: 3%;
  margin-left: 3%;
  text-align: center;}
.count{width: 2em;
  margin: 0 2% 0 2%;
  border: solid 1px grey;
  background-color:rgb(245, 241, 241);}

@media all and (max-width: 60em){
  .contForItem{margin-left: 20%;    
    width: 30em;
  }
}

@media all and (max-width: 40em){
  .contForItem{margin-left: 10%;
    flex-direction: column;
    width: 20em;
  }
  .nameProd{
   margin: 2% 3% 2% 3%;
  }
  .priceP{margin: 0% 3% 2% 3%;}
  .counter{margin: 2% 0 3% 0;}
}