.Product{
  width: 20em;
  height: auto;
  border: solid 3px rgb(247, 247, 136);
  padding: 3% 0 3% 2%;
  margin: 3% 0 3% 3%;
  display: inline-block;
}
.ImgProduct{
  width: 15em;
  height: 12em;
  margin: 1% 0% 1% 10%;
  border-radius: 20px;
}
.priceProduct{
  font-size: 13px;
  color: rgb(183, 155, 16);
  font-style: italic;
}
.buttonProduct{
 background-color: rgba(247, 247, 136, 0.7);
 border: solid rgb(247, 247, 136) 1px;
 margin-left: 2%;
 border-radius: 5px;
 text-decoration: none;
}
.buttonProduct a{text-decoration: none; 
    color: black;}
.buttonProduct:hover{
    cursor: pointer;
    background-color: rgb(250, 250, 96);
}
.buttonProduct:active{
  background-color: rgb(17, 214, 17);
}

@media all and (max-width: 60em){
    .Product{
        margin: 3% 0 3% 7%;
      }
}

@media all and (max-width: 40em){
    .Product{
        margin: 3% 0 3% 15%;
      }
}