.divPageLinks{position: absolute; right: 8%; top: 20px;}
.divPageLinks a:not(:last-child){margin-right: 40px;}
.PageLink {
    color: black;
    text-decoration: none;
}
.ActivePageLink {
    font-weight: bolder;
    border-bottom: solid rgba(253, 223, 65, 1) 2px;
    padding-bottom: 5px;
}

.logo{position: absolute; left: 8%; top: 10px;}

@media all and (max-width: 60em){
    .divPageLinks a:not(:last-child){margin-right: 15px;} 
}
@media all and (max-width: 40em){
    .divPageLinks a{font-size: 14px;}
    .divPageLinks a:not(:last-child){margin-right: 13px;} 
    .logo{width: 40px; 
        height: 40px;
        top: 20px;}
}