.loading{width: 30em;
 margin-left: 60%;
  margin-top: 50%;}
.imgShop{width: 35em;
  height: 25em;}
.floating{ width: 100%;margin: 3% 7% 3% 20%;}
.floating{
  font-size: 14px;
} 
.floating:nth-child(2n) img{
    float: left;}
.floating:nth-child(2n+1) img{
    float: right;}
.floating:nth-child(2n+1) .floatP{float: left;
  padding-right: 30px;
  margin-top: 7%;}
.floating:nth-child(2n) .floatP{float: right; 
  margin-top: 7%; }
.labelForSearch{margin-right: 2%;}
.searchI{width: 20em;}
.divSearch{margin: 2% 7% 3% 7%;
 width: 100%;}


@media all and (max-width: 60em){
  .searchI{width: 15em;}
  .divSearch{margin: 2% 1% 3% 20%;
    width: 90%;}
  .imgShop{width: 50%;
    height: 17em;}
  .floating{width: 90%;
      margin: 3% 1% 3% 20%;
      font-size: 12px;} 
    .floating:nth-child(2n+1) .floatP{float: left;
      padding-right:-10px;}
}

@media all and (max-width: 40em){
  .divSearch{margin: 2% 1% 3% 0%;
    font-size: 12px;
    width: 90%;}
    .imgShop{width: 40%;
      height: 13em;}
  .floating{ margin: 3% 7% 3% 0; } 
}

